/* @TODO change all styles to .scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #99C259;
  --mainWhite: #FFFFFF;
  --mainBlack: #333333;
  --darkGrey: #383A39;
  --mainGrey: #ECECEC;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  border-radius: 2px;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--mainGrey);
  z-index: 1;
}

.logo-link {
  text-decoration: none;
  display: flex;
}

.logo {
  height: 3rem;
  font-size: 2rem;
  color: #333333;
}

.logo-text {
  padding-left: 0.5rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
/* hide links by default */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-size: 1.2rem;
}
.nav-links a:hover {
  color: var(--primaryColor);
  text-decoration: underline;
}
/* show links on click */
.show-nav {
  height: 100%;
  padding: 2rem 0;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
/* Hero */
.defaultHero,
.hikesHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hikesHero {
  background-image: url("./images/map.jpg");
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  margin: 0 1rem;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  max-width: 920px;
  border-radius: 5px;
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-transform: none;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 2rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-line {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* Section text */
.section-text {
  margin-bottom: 4rem;
  padding: 0 4rem;
}
/* end of section text */

/* description */
.description {
  padding: 5rem 0;
}
.description {
  background: var(--darkGrey);
  text-align: center;
  color: var(--mainWhite);
}
.description-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.description h6 {
  letter-spacing: var(--mainSpacing);
}
.description p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .description-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .description p {
    width: 100%;
  }
}
/*end of description */

/* homepage map section */
.homepage-map {
  margin: 0 auto;
  padding: 5rem 0;
  text-align: center;
  background-color: var(--mainGrey);
}

.section-map-container {
  display: inline-block;
  margin: 0 1rem;
  text-align: center;
  max-width: 920px;
  border-radius: 5px;
}

.section-map-text .btn-primary {
  margin-top: 2rem;
  border-radius: 2px;
}

/* featured hikes */

.featured-hikes {
  padding: 5rem 0;
}
.featured-hikes-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-hikes-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-hikes-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured hikes */
/* hike */
.hike {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  border-radius: 2px;
}
.hike:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.name-tag {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--darkGrey);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.name-tag h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.hike-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .name-tag {
  opacity: 0;
}
.img-container:hover .hike-link {
  transform: translate(-50%, -50%) scale(1);
}
.hike-info {
  background: var(--darkGrey);
  color: var(--mainWhite);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of hike  */
/* single hike*/

.single-hike {
  padding: 5rem 0 0 0;
}
.single-hike-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-hike-images img {
  width: 100%;
  display: block;
}
.single-hike-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.hike-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.hike-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-hike-images,
  .single-hike-info,
  .hike-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-hike-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single hike*/
/* hikelist */
.hikeslist {
  padding: 5rem 0;
}
.hikeslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .hikeslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .hikeslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of hikelist */
/*  hikes filter*/
.filter-container {
  padding: 5rem 0 1rem 0;
}
/* end of hikes fitler*/

/* map */
.park-icon {
  width: 2rem;
  height: 2rem;
}

.map-section {
  height: 90vh;
  position: relative;
}

.map-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--mainBlack);
}

.navControl {
  z-index: 1;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 2rem;
  height: 2rem;
}

.np-name {
  font-size: 1.5rem;
}

.np-location {
  margin-bottom: 0.5rem;
}

/* national parks table */
.parks-search-input {
  display: block;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0 auto 1rem auto;
  width: 300px;
}

.parks-table {
  margin:2rem auto;
  border:2px solid black;
  border-collapse: collapse;
  width: 80%;
}

thead th {
  text-align: left;
  background-color: var(--mainGrey);
  border: 2px solid black;
}

.parks-fields th,
.parks-fields td {
  padding: 0.5rem;
}

tbody td {
  border: 1px solid black;
}

/* end of national parks table */

.about-page {
  width: 100vw;
  background-color: var(--darkGrey);
}

/* Footer */
.footer {
  height: 4rem;
  color: var(--mainWhite);
  background: var(--mainBlack);
  text-align: center;
  padding-top: 1.5rem;
}
